In [1]:
print("Hello world")

Hello world

In [2]:
x = 2.0

In [3]:
(x + 3.0) * 2

10.0

In [4]:
(x + 3.0) ** 2

25.0

In [9]:
x = [2, 3, 4, 3] #list
x

[2, 3, 4, 3]

In [7]:
x = {"one": 1, "two": 2, "three": 3}
x

{'one': 1, 'three': 3, 'two': 2}

In [8]:
x["one"]

1

In [11]:
x = set([2, 3, 4, 3])
x

{2, 3, 4}

In [12]:
x = [1, 3, 10, 30, -4]
for e in x:
    print(e)

1
3
10
30
-4

In [17]:
x = [1, 3, 10, 30, -4]
print("x", x)
[e + 20 for e in x]
print("x", x)

x [1, 3, 10, 30, -4]
x [1, 3, 10, 30, -4]

In [23]:
def my_to_upper(s):
    return s.upper()
my_to_upper("abc")

'ABC'

In [16]:
my_to_upper(123)

AttributeError: 'int' object has no attribute 'upper'

In [24]:
def is_even(x):
    if x%2 == 0:
        return True
    return False

In [25]:
is_even(30), is_even(15)

(True, False)

In [30]:
def span(x):
    return x - 1, x + 1
t = span(3)
t

(2, 4)

In [29]:
x1, x2 = span(5)
print("x1: ", x1, "x2: ", x2)

x1:  4 x2:  6

In [31]:
type(t)

tuple

In [32]:
x = [3, 4, 6, 0, -2]
y = [e + 10 for e in x]
print(y)

[13, 14, 16, 10, 8]