# Exercise: find top 10 movies

Dataset: /data/movielens, there are files like movies.csv, ratings.csv

1. Load movies.csv as movies dataframe
2. Find number of the movies
3. Do you see any duplicate in movieId column
4. Load ratings.csv as ratings dataframe
5. For movieId = 1, how many ratings are there and what is average rating. 
6. Find avg rating and number of ratings (rating count) for each movieId
7. In #6, Filter all movieId that contains fewer than 100 ratings
8. Merge (Hint: use pd.merge function) #7 with movies dataframe from #1
9. Sort the data #8 based on avg_rating and take top 10 values.
10. Show movieId, title and avg_rating

In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("/data/movielens/movies.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movies.shape[0]

9125

In [5]:
len(movies)

9125

In [13]:
agg = movies.groupby("movieId").movieId.count() > 1

In [16]:
movies.groupby("movieId").movieId.count().sort_values(ascending = False)

movieId
164979    1
3800      1
3807      1
3806      1
3805      1
3804      1
3802      1
3801      1
3799      1
3810      1
3798      1
3795      1
3794      1
3793      1
3792      1
3791      1
3809      1
3811      1
3789      1
3823      1
3831      1
3829      1
3827      1
3826      1
3825      1
3824      1
3822      1
3812      1
3821      1
3820      1
         ..
32153     1
32139     1
32078     1
32031     1
32025     1
32444     1
32022     1
32019     1
32017     1
31973     1
31963     1
31956     1
32174     1
32203     1
32211     1
32234     1
32280     1
32289     1
32291     1
32296     1
32298     1
32302     1
32349     1
32352     1
32369     1
32371     1
32381     1
32387     1
32395     1
1         1
Name: movieId, Length: 9125, dtype: int64

In [14]:
agg[agg]

Series([], Name: movieId, dtype: bool)

In [17]:
ratings = pd.read_csv("/data/movielens/ratings.csv")

In [18]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
ratings[ratings.movieId == 1].shape

(247, 4)

In [21]:
ratings[ratings.movieId == 1].rating.mean()

3.8724696356275303

In [25]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [29]:
agg = ratings.groupby("movieId").rating.agg([np.mean, len])
agg = agg.query("len >= 100")
agg.head()

             mean    len
movieId
1        3.872470  247.0
2        3.401869  107.0
6        3.884615  104.0
10       3.450820  122.0
25       3.742574  101.0

In [36]:
pd.merge(agg, 
         movies, 
         left_index=True, right_on="movieId")\
.sort_values("mean", ascending = False)[["title", "movieId"]]\
.iloc[:10, :]

                                       title  movieId
695                    Godfather, The (1972)      858
284         Shawshank Redemption, The (1994)      318
977           Godfather: Part II, The (1974)     1221
48                Usual Suspects, The (1995)       50
472                  Schindler's List (1993)      527
951   One Flew Over the Cuckoo's Nest (1975)     1193
535                             Fargo (1996)      608
266                      Pulp Fiction (1994)      296
2288                  American Beauty (1999)     2858
6916                 Dark Knight, The (2008)    58559