In [1]:
import sys

In [3]:
print(sys.version)

3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 12:04:33)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

# What we need to know of python for data analysis

data types 
    - float, int, str, 
    - collection: list, dict, set, tuple
    - classes

functions
    - how to define function
    - call a function
    
loops
    - for loop 
    - while loop
    - list comprehension


conditional 
    - if ..else logic
    

class
    - how to create a class

In [5]:
x = 2.03
x

2.03

In [7]:
x = "hello"
x

'hello'

In [9]:
x = 'hello'
x

'hello'

In [10]:
x = 'hello "Abul"'
x

'hello "Abul"'

In [11]:
x = "hello 'Abul'"
x

"hello 'Abul'"

In [12]:
x = 2.3
y = 4.5
x + y

6.8

In [13]:
x = [2, 3, 4]
x

[2, 3, 4]

In [15]:
x = range(10)
x

range(0, 10)

In [16]:
x = list(range(10))
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
x = list(range(10))
x[:3]

[0, 1, 2]

In [20]:
x = list(range(10))
x[-1]

9

In [18]:
x = list(range(10))
x[-3:]

[7, 8, 9]

In [22]:
x = list(range(10))
x = [v ** 2 for v in x]
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
def is_even(i):
    if i%2 == 0:
        return True
    else:
        return False

is_even(4), is_even(7)

(True, False)

In [25]:
x = list(range(10))
x = [v ** 2 for v in x if is_even(v)]
x

[0, 4, 16, 36, 64]

In [27]:
x = list(range(10))

i = 0
while i < len(x):
    print(x[i])
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [29]:
class Car(object):
    pass

car = Car()
car.name = "Honda"
car

In [31]:
class Car(object):
    
    def __repr__(self):
        return "Car object"

car = Car()
car.name = "Honda"
car

Car object

In [34]:
class Car(object):
    
    def __init__(self, make, model):
        self.make = make
        self.model = model
    
    def __repr__(self):
        return "[Car] " + self.make + " " + self.model

car = Car("Honda", "City")
car.name = "Honda"
car

[Car] Honda City