# Exercise A

- Exercise 1: Find the total number of records
[Ans: 1846]
- Exercise 2: Find the number of records by stock symbol
[Ans: Sample output: WMT: 8, UPS: 11, K: 10]
- Exercise 3: Find avg volume per stock symbolÂ¶
[Ans: AAPL    1.663662e+08, YHOO    2.308414e+07]
- Exercise 4: Find symbol and date that has highest intra day pct change in price
[Ans: 2000-11-28]
- Exercise 5: Find the number of unique symbols


Dataset: stocks.csv

In [8]:
import pandas as pd
import numpy as np

In [3]:
path = "https://raw.githubusercontent.com/abulbasar/data/master/stocks.small.csv"
stocks = pd.read_csv(path)

In [4]:
#Exercise 1: Find the total number of records
stocks.shape[0]

1846

In [5]:
# Exercise 2: Find the number of records by stock symbol
stocks.symbol.value_counts()

ZBH      11
UPS      11
K        10
PHM       9
KR        9
FLIR      9
COF       9
D         9
WMT       8
NKE       8
CMI       8
KMB       8
PPG       8
NUE       8
ETN       8
SIG       8
EXR       8
FMC       8
JNJ       8
IFF       8
SCHW      7
MU        7
LLY       7
APC       7
EQT       7
NFX       7
BMY       7
IP        7
PX        7
WAT       7
         ..
COST      1
TDC       1
HBI       1
VRSK      1
FAST      1
SPGI      1
ULTA      1
UA        1
XRX       1
OI        1
L         1
NVDA      1
PNR       1
ORCL      1
INTU      1
GOOGL     1
SEE       1
DISCK     1
CBG       1
T         1
LVLT      1
ALLE      1
KEY       1
TXN       1
CME       1
AAL       1
TSCO      1
ADP       1
CMA       1
WRK       1
Name: symbol, Length: 471, dtype: int64

In [6]:
# Exercise 3: Find avg volume per stock symbol

stocks.groupby("symbol").volume.mean()

symbol
A       4.817800e+06
AA      2.177992e+07
AAL     2.598900e+06
AAP     1.274240e+06
AAPL    1.663662e+08
ABC     1.828200e+06
ABT     1.314022e+07
ACN     3.198850e+06
ADBE    4.725700e+06
ADI     2.909117e+06
ADM     4.904967e+06
ADP     1.074600e+06
ADS     7.642000e+05
ADSK    3.393800e+06
AEE     9.350750e+05
AEP     1.866267e+06
AES     4.188586e+06
AET     5.830220e+06
AFL     1.896633e+06
AGN     1.079380e+06
AIG     3.441720e+06
AIV     8.612000e+05
AIZ     1.017925e+06
AKAM    3.719875e+06
ALB     5.175200e+05
ALK     2.896700e+06
ALL     2.904833e+06
ALLE    4.711000e+05
ALXN    1.463200e+06
AMAT    2.433693e+07
            ...
VRTX    1.641950e+06
VTR     1.545000e+06
VZ      1.336177e+07
WAT     1.269814e+06
WBA     4.418425e+06
WDC     3.105371e+06
WEC     6.506000e+05
WFC     2.181037e+07
WFM     4.218267e+06
WHR     9.932800e+05
WM      2.534883e+06
WMB     7.113100e+06
WMT     1.216526e+07
WRK     2.397300e+06
WU      4.839500e+06
WY      1.098333e+06
WYN     1.353540e+06
WYNN    3.704533e+06
XEC     1.375533e+06
XEL     1.071800e+06
XL      7.067333e+05
XLNX    6.288650e+06
XOM     2.776827e+07
XRAY    1.117300e+06
XRX     3.019200e+06
XYL     7.209500e+05
YHOO    2.308414e+07
YUM     1.796917e+06
ZBH     1.616664e+06
ZION    3.220250e+06
Name: volume, Length: 471, dtype: float64

In [15]:
# Exercise 4: Find symbol and date that has highest intra day pct
# change in price
pct = np.abs(stocks.open - stocks.close)/stocks.open
stocks.loc[pct.sort_values(ascending=False).index].head()

,date,open,high,low,close,volume,adjclose,symbol
29,2000-11-28,8.000000,8.000000,7.000000,7.031250,2390600.0,7.031250,RHT
894,2008-10-13,19.799999,22.100000,19.230000,22.100000,5260800.0,5.330276,ALK
946,2009-04-07,3.040000,3.040000,2.600000,2.690000,6259300.0,2.210413,TGNA
892,2008-10-09,15.010000,15.010000,13.300000,13.370000,5463700.0,10.295758,TGNA
14,2000-10-02,176.250000,176.312485,155.187515,156.999985,4101900.0,52.333328,BIIB

In [16]:
stocks["pct"] = np.abs(stocks.open - stocks.close)/stocks.open
stocks.sort_values("pct", ascending=False).head()

,date,open,high,low,close,volume,adjclose,symbol,pct
29,2000-11-28,8.000000,8.000000,7.000000,7.031250,2390600.0,7.031250,RHT,0.121094
894,2008-10-13,19.799999,22.100000,19.230000,22.100000,5260800.0,5.330276,ALK,0.116162
946,2009-04-07,3.040000,3.040000,2.600000,2.690000,6259300.0,2.210413,TGNA,0.115132
892,2008-10-09,15.010000,15.010000,13.300000,13.370000,5463700.0,10.295758,TGNA,0.109260
14,2000-10-02,176.250000,176.312485,155.187515,156.999985,4101900.0,52.333328,BIIB,0.109220

# Exercise B

Use movielens dataset
https://github.com/abulbasar/data/tree/master/movielens


1. Load movies.csv as movies dataframe
2. How many rows and columns are there in movies
3. Load ratings.csv as ratings dataframe
4. How many rows and columns are there in ratings?
5. Is there any null values in movies or ratings dataframes
6. How many movies are there with godfather in name?
7. Find avg rating and count of rating for each movieId
8. Find top 10 movies with highest avg rating. Each top 10 movies must have at least 100 ratings
[Hint: use pd.merge function to join 2 dataframes]. Display movie name, movie id and avg rating