Exercise: Find 10 movies based on highest average ratings. Each top 10 movies must have got at least 100 ratings.

Steps

Load movies.csv as movies dataframe
Load ratings.csv as ratings dataframe
Find the number of rows in movies and ratings dataframes
Based on ratings dataframe, find avarage rating and number of ratings for each movie Id
In the above aggregation filter out all moviesId which have got fewer than 100 ratings
Marge the above the filetered data with movies dataframe to add a column column to it.
Sort the data to find top 10 movies based on highest average rating.

In [1]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv("/data/ml-latest-small/movies.csv")

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
ratings = pd.read_csv("/data/ml-latest-small/ratings.csv")

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [12]:
movies.shape, ratings.shape

((9125, 3), (100004, 4))

In [18]:
agg = ratings.groupby("movieId").rating.agg([np.mean, len]).reset_index().query("len>=100")

In [19]:
agg.head()

    movieId      mean    len
0         1  3.872470  247.0
1         2  3.401869  107.0
5         6  3.884615  104.0
9        10  3.450820  122.0
24       25  3.742574  101.0

In [20]:
agg.shape

(151, 3)

In [22]:
pd.merge(movies, agg, on = "movieId").shape

(151, 5)

In [31]:
(pd
.merge(movies, agg, on = "movieId")
.sort_values("mean", ascending = False)
.loc[:, ["movieId", "title", "mean"]]
.iloc[:10, ])

     movieId                                   title      mean
62       858                   Godfather, The (1972)  4.487500
27       318        Shawshank Redemption, The (1994)  4.487138
81      1221          Godfather: Part II, The (1974)  4.385185
10        50              Usual Suspects, The (1995)  4.370647
43       527                 Schindler's List (1993)  4.303279
71      1193  One Flew Over the Cuckoo's Nest (1975)  4.256944
55       608                            Fargo (1996)  4.256696
25       296                     Pulp Fiction (1994)  4.256173
118     2858                  American Beauty (1999)  4.236364
149    58559                 Dark Knight, The (2008)  4.235537