# Exercise: Find top 10 movies 

Dataset: movielens.org database https://github.com/abulbasar/data/tree/master/ml-latest-small

In dataset each movies (movies.csv) contain 1 to many ratings (ratings.csv)

1. Load movies.csv in movies dataframe
2. Load ratings.csv in ratings dataframe
3. Find how many ratings "Toy Story (1995)" have got
4. Find avg rating and number of rating for each movieid
5. Filter out all movies that have got fewer than 100 ratings
6. Join movies and ratings dataframe to show title, avg_rating 
7. Sort the data based on avg rating  desc order
8. Select top 10 movies.

In [21]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("/data/movielens/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("/data/movielens/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies[movies.title == "Toy Story (1995)"]

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [6]:
ratings[ratings.movieId == 1].shape

(247, 4)

In [9]:
movieId = int(movies[movies.title == "Toy Story (1995)"].movieId)

In [10]:
movieId

1

In [13]:
ratings[ratings.movieId == movieId].shape

(247, 4)

In [19]:
ratings.query("movieId == @movieId").shape

(247, 4)

In [25]:
agg1 = ratings.groupby("movieId").rating.agg([np.mean, len]).query("len >= 100")
agg1.head()

             mean    len
movieId
1        3.872470  247.0
2        3.401869  107.0
6        3.884615  104.0
10       3.450820  122.0
25       3.742574  101.0

In [26]:
agg1.merge(movies, left_index=True, right_on="movieId")

,mean,len,movieId,title,genres
0,3.872470,247.0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,3.401869,107.0,2,Jumanji (1995),Adventure|Children|Fantasy
5,3.884615,104.0,6,Heat (1995),Action|Crime|Thriller
9,3.450820,122.0,10,GoldenEye (1995),Action|Adventure|Thriller
24,3.742574,101.0,25,Leaving Las Vegas (1995),Drama|Romance
31,3.923469,196.0,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,3.601351,148.0,34,Babe (1995),Children|Drama
34,3.937500,104.0,36,Dead Man Walking (1995),Crime|Drama
37,3.550000,120.0,39,Clueless (1995),Comedy|Romance
45,4.034826,201.0,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
48,4.370647,201.0,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
100,3.945175,228.0,110,Braveheart (1995),Action|Drama|War
101,4.224576,118.0,111,Taxi Driver (1976),Crime|Drama|Thriller
129,3.902500,200.0,150,Apollo 13 (1995),Adventure|Drama|IMAX
132,2.782946,129.0,153,Batman Forever (1995),Action|Adventure|Comedy|Crime
144,3.443662,142.0,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
163,3.102941,102.0,185,"Net, The (1995)",Action|Crime|Thriller
184,2.752212,113.0,208,Waterworld (1995),Action|Adventure|Sci-Fi
196,3.963303,109.0,223,Clerks (1994),Comedy
203,3.110759,158.0,231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
225,3.396000,125.0,253,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
232,4.221649,291.0,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
258,3.336449,107.0,288,Natural Born Killers (1994),Action|Crime|Thriller
262,3.309091,110.0,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
263,4.071970,132.0,293,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
266,4.256173,324.0,296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
282,3.368966,145.0,316,Stargate (1994),Action|Adventure|Sci-Fi
284,4.487138,311.0,318,"Shawshank Redemption, The (1994)",Crime|Drama
294,3.350877,114.0,329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi
304,3.440594,101.0,339,While You Were Sleeping (1995),Comedy|Romance
...,...,...,...,...,...
2374,4.178218,202.0,2959,Fight Club (1999),Action|Crime|Drama|Thriller
2398,3.666667,108.0,2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
2407,3.956349,126.0,2997,Being John Malkovich (1999),Comedy|Drama|Fantasy
2506,3.844000,125.0,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
2531,3.922330,103.0,3147,"Green Mile, The (1999)",Crime|Drama
2860,3.965839,161.0,3578,Gladiator (2000),Action|Adventure|Drama
3033,3.559055,127.0,3793,X-Men (2000),Action|Adventure|Sci-Fi
3199,3.855263,114.0,3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance
3367,4.227273,132.0,4226,Memento (2000),Mystery|Thriller
3419,3.847701,174.0,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
3805,3.884615,130.0,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
3812,3.657143,105.0,4896,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
3847,3.880769,130.0,4963,Ocean's Eleven (2001),Crime|Thriller
3856,4.096000,125.0,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
3871,4.182500,200.0,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
3873,3.951754,114.0,4995,"Beautiful Mind, A (2001)",Drama|Romance
4085,3.522388,134.0,5349,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
4125,3.880000,100.0,5418,"Bourne Identity, The (2002)",Action|Mystery|Thriller
4139,3.686957,115.0,5445,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
4395,4.061170,188.0,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
4610,3.803279,122.0,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy
4693,3.854610,141.0,6539,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
4855,3.819820,111.0,6874,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
5026,4.127841,176.0,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
5127,4.122642,106.0,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
5152,3.665049,103.0,7438,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller
5626,3.861111,126.0,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy
6158,3.857143,105.0,33794,Batman Begins (2005),Action|Crime|IMAX
6916,4.235537,121.0,58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
7575,4.049550,111.0,79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [28]:
agg1.reset_index().merge(movies, on = "movieId")

,movieId,mean,len,title,genres
0,1,3.872470,247.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.401869,107.0,Jumanji (1995),Adventure|Children|Fantasy
2,6,3.884615,104.0,Heat (1995),Action|Crime|Thriller
3,10,3.450820,122.0,GoldenEye (1995),Action|Adventure|Thriller
4,25,3.742574,101.0,Leaving Las Vegas (1995),Drama|Romance
5,32,3.923469,196.0,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
6,34,3.601351,148.0,Babe (1995),Children|Drama
7,36,3.937500,104.0,Dead Man Walking (1995),Crime|Drama
8,39,3.550000,120.0,Clueless (1995),Comedy|Romance
9,47,4.034826,201.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
10,50,4.370647,201.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
11,110,3.945175,228.0,Braveheart (1995),Action|Drama|War
12,111,4.224576,118.0,Taxi Driver (1976),Crime|Drama|Thriller
13,150,3.902500,200.0,Apollo 13 (1995),Adventure|Drama|IMAX
14,153,2.782946,129.0,Batman Forever (1995),Action|Adventure|Comedy|Crime
15,165,3.443662,142.0,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
16,185,3.102941,102.0,"Net, The (1995)",Action|Crime|Thriller
17,208,2.752212,113.0,Waterworld (1995),Action|Adventure|Sci-Fi
18,223,3.963303,109.0,Clerks (1994),Comedy
19,231,3.110759,158.0,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
20,253,3.396000,125.0,Interview with the Vampire: The Vampire Chroni...,Drama|Horror
21,260,4.221649,291.0,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi
22,288,3.336449,107.0,Natural Born Killers (1994),Action|Crime|Thriller
23,292,3.309091,110.0,Outbreak (1995),Action|Drama|Sci-Fi|Thriller
24,293,4.071970,132.0,Léon: The Professional (a.k.a. The Professiona...,Action|Crime|Drama|Thriller
25,296,4.256173,324.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
26,316,3.368966,145.0,Stargate (1994),Action|Adventure|Sci-Fi
27,318,4.487138,311.0,"Shawshank Redemption, The (1994)",Crime|Drama
28,329,3.350877,114.0,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi
29,339,3.440594,101.0,While You Were Sleeping (1995),Comedy|Romance
...,...,...,...,...,...
121,2959,4.178218,202.0,Fight Club (1999),Action|Crime|Drama|Thriller
122,2987,3.666667,108.0,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
123,2997,3.956349,126.0,Being John Malkovich (1999),Comedy|Drama|Fantasy
124,3114,3.844000,125.0,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
125,3147,3.922330,103.0,"Green Mile, The (1999)",Crime|Drama
126,3578,3.965839,161.0,Gladiator (2000),Action|Adventure|Drama
127,3793,3.559055,127.0,X-Men (2000),Action|Adventure|Sci-Fi
128,3996,3.855263,114.0,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance
129,4226,4.227273,132.0,Memento (2000),Mystery|Thriller
130,4306,3.847701,174.0,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
131,4886,3.884615,130.0,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
132,4896,3.657143,105.0,Harry Potter and the Sorcerer's Stone (a.k.a. ...,Adventure|Children|Fantasy
133,4963,3.880769,130.0,Ocean's Eleven (2001),Crime|Thriller
134,4973,4.096000,125.0,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
135,4993,4.182500,200.0,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
136,4995,3.951754,114.0,"Beautiful Mind, A (2001)",Drama|Romance
137,5349,3.522388,134.0,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller
138,5418,3.880000,100.0,"Bourne Identity, The (2002)",Action|Mystery|Thriller
139,5445,3.686957,115.0,Minority Report (2002),Action|Crime|Mystery|Sci-Fi|Thriller
140,5952,4.061170,188.0,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
141,6377,3.803279,122.0,Finding Nemo (2003),Adventure|Animation|Children|Comedy
142,6539,3.854610,141.0,Pirates of the Caribbean: The Curse of the Bla...,Action|Adventure|Comedy|Fantasy
143,6874,3.819820,111.0,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller
144,7153,4.127841,176.0,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
145,7361,4.122642,106.0,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
146,7438,3.665049,103.0,Kill Bill: Vol. 2 (2004),Action|Drama|Thriller
147,8961,3.861111,126.0,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy
148,33794,3.857143,105.0,Batman Begins (2005),Action|Crime|IMAX
149,58559,4.235537,121.0,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
150,79132,4.049550,111.0,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX

In [34]:
(agg1.merge(movies, 
           left_index=True, 
           right_on="movieId")
    .sort_values("mean", ascending = False)
    .loc[:, ["title", "mean"]]
).iloc[:10, :]

                                       title      mean
695                    Godfather, The (1972)  4.487500
284         Shawshank Redemption, The (1994)  4.487138
977           Godfather: Part II, The (1974)  4.385185
48                Usual Suspects, The (1995)  4.370647
472                  Schindler's List (1993)  4.303279
951   One Flew Over the Cuckoo's Nest (1975)  4.256944
535                             Fargo (1996)  4.256696
266                      Pulp Fiction (1994)  4.256173
2288                  American Beauty (1999)  4.236364
6916                 Dark Knight, The (2008)  4.235537