In [2]:
print("hello world!!")

hello world!!

In [3]:
x = 10

In [4]:
type(x)

int

In [5]:
x = "hello"

In [6]:
type(x)

str

primitives
- int
- float

Composites
- string
- datetime
- date
- time

Collections

- list
- dict
- set
- tuple

In [8]:
x = 10
type(x)

int

In [9]:
x = 10.0
type(x)

float

In [10]:
x = "hello"
type(x)

str

In [11]:
x = [1, 2, 3]
type(x)

list

In [12]:
len(x)

3

In [13]:
x[0]

1

In [14]:
x[1]

2

# Slicing

In [15]:
x = [4, 10, 5, 0, -9, 13]

In [16]:
x[1:4]

[10, 5, 0]

In [17]:
x[:4]

[4, 10, 5, 0]

In [18]:
x[-1]

13

In [19]:
x[-3:]

[0, -9, 13]

# Looping

In [22]:
x

[4, 10, 5, 0, -9, 13]

In [23]:
for i in x:
    print(i)

4
10
5
0
-9
13

In [25]:
for i, v in enumerate(x):
    print(i, v)

0 4
1 10
2 5
3 0
4 -9
5 13

# Function

In [26]:
def add(i, j):
    return i + j

In [27]:
add(4, 5)

9

In [32]:
def addall(x):
    """
        addall takes a list of numbers and add all of them and return the sum
        input x: list of numbers 
    """
    total = 0
    for v in x:
        total = total + v
    return total

addall([3, 7, -9])

1

In [33]:
def show(name, age = 10):
    print(name, age)

show("xyz", 40)

xyz 40

In [34]:
show("abc")

abc 10

In [35]:
show(age = 50, name = "pqr")

pqr 50

In [36]:
print(1, "hello", "siemens")

1 hello siemens

In [42]:
def show(*values):
    print(type(values))
    print(values[0], values[1], values[2], values[3])
    
    
show(1, 2, "hello", 4.5)

<class 'tuple'>
1 2 hello 4.5

In [45]:
def show(**values):
    print(type(values))
    print(values["name"], values["age"])

show(name = "xyz", age = 40)

<class 'dict'>
xyz 40

In [46]:
def show(*values, **dict_values):
    print(type(values), type(dict_values))
   
show(1, 0, name = "xyz", age = 40)

<class 'tuple'> <class 'dict'>

In [48]:
def find_coordinate(ip):
    # logic to find the coordinate
    return 2.3, 5.6

result = find_coordinate("10.10.10.109")

In [49]:
type(result)

tuple

In [50]:
result[0]

2.3

In [51]:
result[1]

5.6

In [52]:
f = lambda x: x + 10

In [53]:
type(f)

function

In [54]:
f(10)

20

In [55]:
x

[4, 10, 5, 0, -9, 13]

In [57]:
list(map(f, x))

[14, 20, 15, 10, 1, 23]

In [58]:
list(map(lambda v: v + 10, x))

[14, 20, 15, 10, 1, 23]

In [59]:
list(filter(lambda v: v>0, x))

[4, 10, 5, 13]

In [61]:
list(map(lambda v: v + 10, filter(lambda v: v>0, x)))

[14, 20, 15, 23]