In [1]:
import pandas as pd
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
import seaborn as sns
from sklearn.preprocessing import PolynomialFeatures
from sklearn import model_selection
from sklearn import feature_selection

import numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("/data/credit-default.csv")

In [3]:
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [6]:
df.default.value_counts()

1    700
2    300
Name: default, dtype: int64

In [8]:
y = np.where(df.default == 2, 1, 0)
X = df.copy()
target = "default"
del X[target]
X = pd.get_dummies(X)
columns = X.columns
X = StandardScaler().fit_transform(X)
pd.DataFrame(X, columns=columns)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [11]:
lr = linear_model.LogisticRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.75666666666666671

In [14]:
y_test_pred = lr.predict(X_test)
pd.DataFrame({"actual": y_test, "pred": y_test_pred}).head()

   actual  pred
0       1     0
1       0     1
2       0     0
3       1     1
4       1     1

In [15]:
metrics.confusion_matrix(y_test, y_test_pred)

array([[188,  26],
       [ 47,  39]])

In [18]:
pd.DataFrame(lr.predict_proba(X_test))

            0         1
0    0.609788  0.390212
1    0.056675  0.943325
2    0.794803  0.205197
3    0.388060  0.611940
4    0.156862  0.843138
5    0.351440  0.648560
6    0.556062  0.443938
7    0.735745  0.264255
8    0.930952  0.069048
9    0.783465  0.216535
10   0.176976  0.823024
11   0.521002  0.478998
12   0.895784  0.104216
13   0.953203  0.046797
14   0.628072  0.371928
15   0.598507  0.401493
16   0.976239  0.023761
17   0.914130  0.085870
18   0.964023  0.035977
19   0.123752  0.876248
20   0.831222  0.168778
21   0.313984  0.686016
22   0.919809  0.080191
23   0.911454  0.088546
24   0.791564  0.208436
25   0.851636  0.148364
26   0.889926  0.110074
27   0.771912  0.228088
28   0.914302  0.085698
29   0.108656  0.891344
..        ...       ...
270  0.808959  0.191041
271  0.981219  0.018781
272  0.170941  0.829059
273  0.787691  0.212309
274  0.891832  0.108168
275  0.955407  0.044593
276  0.908140  0.091860
277  0.913907  0.086093
278  0.988276  0.011724
279  0.370542  0.629458
280  0.763144  0.236856
281  0.861619  0.138381
282  0.565182  0.434818
283  0.269341  0.730659
284  0.610695  0.389305
285  0.708445  0.291555
286  0.978137  0.021863
287  0.551920  0.448080
288  0.951808  0.048192
289  0.931624  0.068376
290  0.820559  0.179441
291  0.950681  0.049319
292  0.471038  0.528962
293  0.758458  0.241542
294  0.519708  0.480292
295  0.912443  0.087557
296  0.978063  0.021937
297  0.992499  0.007501
298  0.624207  0.375793
299  0.937397  0.062603

[300 rows x 2 columns]

In [24]:
y_test_pred = np.where(lr.predict_proba(X_test)[:, 1] > 0.3, 1, 0)
print("Accuracy", metrics.accuracy_score(y_test, y_test_pred))
metrics.confusion_matrix(y_test, y_test_pred)

Accuracy 0.71

array([[158,  56],
       [ 31,  55]])